# Kitty colors "Amphora".
foreground            #{{marble}}
background            #{{bg}}
selection_foreground  #{{bg}}
selection_background  #{{gold}}
cursor                #{{gold}}
cursor_text_color     #{{bg}}
url_color             #{{aegean_light}}
active_border_color   #{{gold}}
inactive_border_color #{{aegean}}
active_tab_foreground   #{{bg}}
active_tab_background   #{{gold}}
inactive_tab_foreground #{{muted}}
inactive_tab_background #{{surface}}

# black
color0  #{{surface}}
color8  #{{ash}}
# red
color1  #{{red}}
color9  #{{red_light}}
# green (olive, to stay in the palette)
color2  #{{olive}}
color10 #{{olive_light}}
# yellow (gold)
color3  #{{gold}}
color11 #{{gold_light}}
# blue (Aegean)
color4  #{{aegean_light}}
color12 #{{aegean_pale}}
# magenta (wine)
color5  #{{wine_light}}
color13 #{{wine_pale}}
# cyan (sea)
color6  #{{sea}}
color14 #{{sea_light}}
# white (marble)
color7  #{{marble_dim}}
color15 #{{marble}}
