# Qt colors "Amphora" for qt6ct.
[ColorScheme]
active_colors=#ff{{marble}}, #ff{{overlay}}, #ff{{ash}}, #ff{{overlay_high}}, #ff{{bg}}, #ff{{overlay}}, #ff{{marble}}, #ffffffff, #ff{{marble}}, #ff{{surface}}, #ff{{bg}}, #ff000000, #ff{{wine}}, #ff{{gold_light}}, #ff{{aegean_pale}}, #ff{{wine_pale}}, #ff{{surface_low}}, #ff000000, #ff{{surface}}, #ff{{marble}}, #80{{muted}}
disabled_colors=#ff{{disabled}}, #ff{{overlay}}, #ff{{ash}}, #ff{{overlay_high}}, #ff{{bg}}, #ff{{overlay}}, #ff{{disabled}}, #ffffffff, #ff{{disabled}}, #ff{{surface}}, #ff{{bg}}, #ff000000, #ff{{wine}}, #ff{{disabled}}, #ff{{aegean_pale}}, #ff{{wine_pale}}, #ff{{surface_low}}, #ff000000, #ff{{surface}}, #ff{{marble}}, #80{{muted}}
inactive_colors=#ff{{marble}}, #ff{{overlay}}, #ff{{ash}}, #ff{{overlay_high}}, #ff{{bg}}, #ff{{overlay}}, #ff{{marble}}, #ffffffff, #ff{{marble}}, #ff{{surface}}, #ff{{bg}}, #ff000000, #ff{{wine}}, #ff{{gold_light}}, #ff{{aegean_pale}}, #ff{{wine_pale}}, #ff{{surface_low}}, #ff000000, #ff{{surface}}, #ff{{marble}}, #80{{muted}}
